
#app {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.preact:hover {
  filter: drop-shadow(0 0 2em #673ab8aa);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  gap: 1em;
}

.menubar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menubar a {
  padding: 1em;
  text-decoration: none;
  color: #FFFFFF;
}
.menubar a:hover, .menubar a.active {
  color: #FFFFFF;
  background-color: #1a1a1a;
  border-radius: 0.5em;
}

.menubar-user {
  padding: 1em;
}
